@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }

.font-1{
    font-family: poppins;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none; 
    background-color: none; 
}
.header-nav{
    border-radius: 2rem;
    border: 3px solid #f8f9f7;
    padding: 5px;
    width: 6rem;
    height: 2rem;
}

.bg-peoples {
    background-image: url('img/landing-page-hd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.laporkan-btn {
    background-color: red; 
    border-radius: 0%;
}

.laporkan-btn:hover {
    background-color: black;
    border-color: white;
}

#masuk-btn:hover {
    background-color: white;
    
}

.custom-carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.custom-carousel-item {
    min-width: 33.33%;
}

.guest-box {
    background-color: white; 
    height: 60vh; 
    width: 40vw;
    border-radius: 3%;
}

.fixed-icon {
    position: fixed;
    bottom: 40px; /* Adjust the distance from the bottom */
    right: 40px;   /* Adjust the distance from the left */
    width: 50px;  /* Adjust the size of the icon */
    height: 50px; /* Adjust the size of the icon */
    
}
